@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', Arial, sans-serif;
}

body{
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url('img/background.jpg');
  background-size: cover;

  overflow: hidden;
}

main{
  height: 90vh;
  width: 70vw;
  padding: 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0004;
  border: 1px solid #888;
  border-radius: 2rem;
  backdrop-filter: blur(5px);

  animation: open 5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes open{
  0%{
    width: 0px;
    padding: 0px;
  }
  50%{
    padding: 0 50px;
  }
  60%{
    width: 70vw;
  }
}

section#intro{
  animation: intro 7s ease-in-out forwards;

  & h1{
    font-size: 3rem;
    color: #fff;
  }
}

@keyframes intro{
  0%{
    display: block;
    opacity: 0;
  }
  40%{
    display: block;
    opacity: 1;
  }
  50%{
    display: block;
    opacity: 0;
  }
  51%{
    display: none;
    opacity: 0;
  }
  100%{
    display: none;
    opacity: 0;
  }
}


section#app{
  height: 100%;
  width: 100%;

  position: relative;

  animation: app 7s ease-in-out;
}

@keyframes app {
  0%{
    display: none;
    opacity: 0;
  }
  50%{
    display: none;
    opacity: 0;
  }
  51%{
    display: block;
    opacity: 0;
  }
  70%{
    display: block;
    opacity: 1;
  }
  100%{
    display: block;
    opacity: 1;
  }
}

header{
  height: 12.5vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #888;
}

h2{
  font-size: 1.2rem;
  color: #fff;
}

.icons-box{
  display: flex;
  gap: .8rem;
}

.icons-box i{
  height: 30px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  color:#fffc;
  background: transparent;
  border-radius: 100%;
  transition: background .2s;
}

.icons-box i:hover{
  background: #000;
  color: #fff;
}

.icon{
  position: relative;
  cursor: pointer;
}

.icon.active > i{
  background: #000;
  color: #fff;
}

.icon.active > .icon-background{
  opacity: 1;
  scale: 1;
}

.icons-box i:hover + .icon-background{
  opacity: 1;
  scale: 1;
}

.icon-background{
  opacity: 0;
  content: '';
  position: absolute;
  inset: -2px;
  scale: 0.9;
  
  border-radius: 100%;
  background: conic-gradient(#222, #ccc, #222, #ccc, #222, #ccc, #222);
  
  z-index: -1;
  transition: opacity .2s;
  animation: rotate 20s infinite linear;
}

#searchInput{
  width: 0;
  height: auto;
  padding-left: 8px;

  opacity: 0;
  color: #fff;
  border: 1px #888 solid;
  background-color: transparent;
  border-radius: 4px;

  transition: .5s;
}

#searchInput.active{
  width: 200px;
  opacity: 1;
}

#searchInput:focus{
  outline: none;
}
  
@keyframes rotate{
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}


section#main-content{
  height: calc(100% - 12.5vh);
  width: 100%;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#news{
  display: flex;
  justify-content: space-between;
  gap: 15px;

}

.thumb{
  height: 35vh;
  width: 100%;

  display: flex;
  align-items: end;
  
  border-radius: .5rem;
  background-color: #333;
  
  overflow: hidden;
  position: relative;
}

.thumb:hover > .thumb-content{
  opacity: 1;
}

.thumb-content{
  height: auto;
  width: 100%;
  padding: .5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0005;

  z-index: 2;
  opacity: 0;
  transition: opacity .4s;
}

.thumb-title{
  margin-bottom: .1rem;
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff;
}

.thumb-desc{
  font-size: .9rem;
  font-weight: 300;
  color: #ccc;
}

.thumb-content > i{
  font-size: 1.5rem;
  color: #fffa;
  cursor: pointer;
  transition: .2s;
}

.thumb-content > i:hover{
  color: #fff;
}

.thumb::before{
  content: '';
  position: absolute;
  inset: 0;
  background-size: cover;
  transition: scale .7s, brightness .7s;
  z-index: 1;
}

.thumb:hover::before{
  scale: 1.3;
  filter: brightness(75%);
}

#thumb1::before{
  background-image: url('img/thumb_1.jpg');
}

#thumb2::before{
  background-image: url('img/thumb_2.jpg');
}

section#products{
  display: flex;
  justify-content: space-between;
}

.product{
  position: relative;

  height: 27.5vh;
  width: auto;
  aspect-ratio: 1;

  display: flex;
  flex-direction: column;

  background-color: #2225;
  backdrop-filter: blur(2px);
  border: 1px #ccc solid;
  border-radius: .5rem;

  overflow: hidden;
  transition: translate .2s, background-color .2s;
}

.product:hover{
  background-color: #111a;
  translate: 0 -10px;
}

.product:hover .product-img, .product:hover h4{
  opacity: 0.6;
}

.product-img{
  height: 80%;
  width: 100%;
  object-fit: contain;
  background: radial-gradient(#ccc2, transparent 70%);
  transform: opacity .2s;
}

.product h4{
  height: 20%;
  width: 100%;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;

  text-align: center;
  font-weight: 400;
  color: #fff;
}

.product .view-more{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  color: #fff;

  opacity: 0;
  cursor: pointer;
  transition: opacity .2s;
}

.product:hover .view-more{
  opacity: 1;
}

.product .view-more i{
  font-size: 2rem;
  text-shadow: 0px 0px 20px #000a;
}

.product .view-more p{
  font-size: 1rem;
  text-shadow: 0px 0px 20px #000a;
}

nav{
  position: absolute;
  bottom: calc(calc(12px + 18px) * -1);
  left: 50%;
  translate: -50%;

  height: auto;
  width: 500px;
  padding: 6px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(-70deg, #000, #111, #000, #111, #111, #000, #222);
  border: 1px solid #ccc;
  border-radius: 50px;
  backdrop-filter: blur(100px);
}

.nav-item{
  position: relative;

  padding: 8px 12px;

  font-size: 1rem;
  text-decoration: none;
  font-weight: 300;

  color: #ddd;

  z-index: 1;
  transition: color .2s;
}

.nav-item:hover{
  color: #fff;
}

.nav-item:hover::before{
  transform: scale(1);
  opacity: 1;
}

.nav-item::before{
  content: '';
  position: absolute;
  inset: 0;

  background-color: #6661;
  backdrop-filter: blur(5px);
  border-radius: 2rem;

  z-index: -1;
  transform: scale(0.8);
  opacity: 0;

  transition: opacity .2s, transform .2s;
}