@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', Arial, sans-serif;
}

body{
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url('img/background.jpg');
  background-size: cover;

  overflow: hidden;
}

main{
  height: 525px;
  width: 70vw;
  padding: 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0004;
  border: 1px solid #888;
  border-radius: 2rem;
  backdrop-filter: blur(5px);

  animation: open 5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes open{
  0%{
    width: 0px;
    padding: 0px;
  }
  50%{
    padding: 0 50px;
  }
  60%{
    width: 70vw;
  }
}

section#intro{
  animation: intro 7s ease-in-out forwards;

  & h1{
    font-size: 3rem;
    color: #fff;
  }
}

@keyframes intro{
  0%{
    display: block;
    opacity: 0;
  }
  40%{
    display: block;
    opacity: 1;
  }
  50%{
    display: block;
    opacity: 0;
  }
  51%{
    display: none;
    opacity: 0;
  }
  100%{
    display: none;
    opacity: 0;
  }
}


section#app{
  height: 100%;
  width: 100%;

  position: relative;

  animation: app 7s ease-in-out;
}

@keyframes app {
  0%{
    display: none;
    opacity: 0;
  }
  50%{
    display: none;
    opacity: 0;
  }
  51%{
    display: block;
    opacity: 0;
  }
  70%{
    display: block;
    opacity: 1;
  }
  100%{
    display: block;
    opacity: 1;
  }
}

header{
  height: 12.5vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #888;
}

h2{
  font-size: 1.2rem;
  color: #fff;
}

.icons-box{
  display: flex;
  gap: .8rem;
}

.icons-box i{
  height: 30px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  color:#fffc;
  background: transparent;
  border-radius: 100%;

  transition: background .2s;
}

.icons-box i:hover{
  background: #000;
  color: #fff;
}

.icon{
  position: relative;
}

.icons-box i:hover + .icon-background{
    opacity: 1;
    scale: 1;
}

.icon-background{
    opacity: 0;
    content: '';
    position: absolute;
    inset: -2px;
    scale: 0.9;

    border-radius: 100%;
    background: conic-gradient(#222, #ccc, #222, #ccc, #222, #ccc, #222);

    z-index: -1;
    transition: opacity .2s;
    animation: rotate 20s infinite linear;
}

@keyframes rotate{
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}


section#main-content{
  height: calc(100% - 12.5vh);
  width: 100%;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#news{
  display: flex;
  justify-content: space-between;
  gap: 15px;

  & .news{
    height: 200px;
    width: 100%;
    background-color: #ccc;
  }
}

section#products{
  display: flex;
  justify-content: space-between;

  & .product{
    height: 150px;
    width: auto;
    aspect-ratio: 1.1;

    background-color: #ccc;
  }
}

nav{
  position: absolute;
  bottom: calc(calc(12px + 18px) * -1);
  left: 50%;
  translate: -50%;

  height: auto;
  width: 500px;
  padding: 12px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50px;

  & .nav-item{
    font-size: 18px;
  }
}